@model SV.Models.RealStateForm

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Formulario</h1>

<h4>RealStateForm</h4>
<hr />
<div class="row">
    <div class="col">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NatureOfTheDeed" class="control-label">CNE</label>
                <select id="NatureOfTheDeed" name="NatureOfTheDeed">
                    <option selected="selected">Compraventa</option>
                    <option>Regularización de Patrimonio</option>
                </select>
                <span asp-validation-for="NatureOfTheDeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commune" class="control-label">Comuna</label>
                <input asp-for="Commune" class="form-control" />
                <span asp-validation-for="Commune" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Block" class="control-label">Manzana</label>
                <input asp-for="Block" class="form-control" />
                <span asp-validation-for="Block" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property" class="control-label">Predio</label>
                <input asp-for="Property" class="form-control" />
                <span asp-validation-for="Property" class="text-danger"></span>
            </div>
            <div class="sellers">
                <h5>Información de los Enajenante(s) o Causante(s)</h5>
                <div class="row seller" hidden>
                    <div class="col-sm">
                        <label for="rutSeller">RUT:</label>
                        <input type="text" class="form-control form-control-inline" id="rutSeller" placeholder="Ingrese su rut" name="rutSeller">
                    </div>
                    <div class="col-sm">
                        <label for="ownershipPercentageSeller">% de Derecho:</label>
                        <input type="number" class="form-control form-control-inline" id="ownershipPercentageSeller" placeholder="99.4" step="0.01" name="ownershipPercentageSeller">
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="uncreditedOwnershipSeller" name="uncreditedOwnershipSeller">
                        <label class="form-check-label" for="flexCheckDefault">
                            % de Derecho no Acreditado:
                        </label>
                    </div>

                </div>
                <div class="row seller">
                    <div class="col-sm">
                        <label for="rutSeller">RUT:</label>
                        <input type="text" class="form-control form-control-inline" id="rutSeller" placeholder="Ingrese su rut" name="rutSeller">
                    </div>
                    <div class="col-sm">
                        <label for="ownershipPercentageSeller">% de Derecho:</label>
                        <input type="number" class="form-control form-control-inline" id="ownershipPercentageSeller" placeholder="99.4" step="0.01" name="ownershipPercentageSeller">
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" id="uncreditedOwnershipSeller" name="uncreditedOwnershipSeller">
                        <label class="form-check-label" for="flexCheckDefault">
                            % de Derecho no Acreditado:
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn-danger" type="button" id="add-seller">Agregar</button>

            <div class="buyers">
                <h5>Información de los Adquiriente(s) o Heredero(s)</h5>
                <div class="row buyer" hidden>
                    <div class="col-sm">
                        <label for="rutBuyer">RUT:</label>
                        <input type="text" class="form-control form-control-inline" id="rutBuyer" placeholder="Ingrese su rut" name="rutBuyer">
                    </div>
                    <div class="col-sm">
                        <label for="ownershipPercentageBuyer">% de Derecho:</label>
                        <input type="number" class="form-control form-control-inline" id="ownershipPercentageBuyer" placeholder="99.4" step="0.01" name="ownershipPercentageBuyer">
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="uncreditedOwnershipBuyer">
                        <label class="form-check-label" for="flexCheckDefault">
                            % de Derecho no Acreditado:
                        </label>
                    </div>
                </div>
                <div class="row heir">
                    <div class="col-sm">
                        <label for="rutBuyer">RUT:</label>
                        <input type="text" class="form-control form-control-inline" id="rutBuyer" placeholder="Ingrese su rut" name="rutBuyer">
                    </div>
                    <div class="col-sm">
                        <label for="ownershipPercentageBuyer">% de Derecho:</label>
                        <input type="number" class="form-control form-control-inline" id="ownershipPercentageBuyer" placeholder="99.4" step="0.01" name="ownershipPercentageBuyer">
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="uncreditedOwnershipBuyer">
                        <label class="form-check-label" for="flexCheckDefault">
                            % de Derecho no Acreditado:
                        </label>
                    </div>
                </div>
            </div>
            <button class="btn-danger" type="button" id="add-buyer">Agregar</button>

            <div class="form-group">
                <label asp-for="Sheets" class="control-label">Fojas</label>
                <input asp-for="Sheets" class="form-control" />
                <span asp-validation-for="Sheets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InscriptionDate" class="control-label">Fecha de Inscripción</label>
                <input asp-for="InscriptionDate" class="form-control" />
                <span asp-validation-for="InscriptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InscriptionNumber" class="control-label">Número de inscripción</label>
                <input asp-for="InscriptionNumber" class="form-control" />
                <span asp-validation-for="InscriptionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
     
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/js/form.js" asp-append-version="true"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
